/* Basic Code */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-primary: #bc50fc;
    --color-secondary: #06f9cb;
    --color-bg: #001D3B;
    --color-bg-hover: #d9d9d9;
    --color-light: #f2f2f2;
    --color-dark: #222222;
    --color-border: #444444;
    --color-font: #1d1d1d;
}

html {
    max-width: 70ch;
    padding: 0em 1em 1em 1em;
    margin: auto;
    line-height: 1.5;
    font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
    margin: 1em 0 1em;
}

p,ul,ol {
    margin-bottom: 0.5em;
    color: var(--color-font);
    font-family: sans-serif;
}

/* Additional Customisation */

.logo {
    width: 20rem;
    border-radius: 20% 20% 20% 20%;
}

@font-face {
    font-family: alata;
    src: url(Alata-Regular.ttf);
}

body {
    font-family: alata;
    background: linear-gradient(var(--color-primary), var(--color-secondary));
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

a {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em;
    text-decoration: none;
    word-break: break-word;
}

.links {
    margin: 0.5em 0 0.5em;
}

button {
    background-color: var(--color-light);
    font-size: large;
    font-weight: bold;
    padding: 0.5em 0.5em;
    border-radius: 2rem;
    border-color: var(--color-border);
}

button:hover {
    background-color: var(--color-bg-hover);
}

button:active {
    box-shadow: 2px 2px 5px #fc894d;
}

.topbutton, .bottombutton {
    color: var(--color-dark);
}

/* Animated Text CSS */

.animatedText, .hero, .content {
    display: grid;
    justify-content: center;
    text-align: center;
}

span {
    animation: topToBottom ease-in-out infinite;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    }

.animate {
    animation-duration: 10s;
}

.animate1 {
    animation-delay: 0s;
    color: rgb(129, 42, 243);
}

.animate2 {
    animation-delay: 2s;
    color: rgb(0, 91, 236);
}

.animate3 {
    animation-delay: 4s;
    color: rgb(251, 125, 35);
}

.animate4 {
    animation-delay: 6s;
    color: rgb(29, 228, 158);
}

.animate5 {
    animation-delay: 8s;
    color: rgb(242, 33, 51);
}


@keyframes topToBottom {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 0;
        transform: translateY(-100%);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    28% {
        opacity: 0;
        transform: translateY(100%);
    }
    80% {
        opacity: 0;
    }
}